<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='nav-bar'>
    <ul>
      <li><h2 class='nav-bar-links'><%= link_to 'Rescue Mission', root_path, method: :get %></h1></li>
      <li><h4 class='nav-bar-links'><%= link_to 'New question', new_question_path, method: :get %></h4></li>
      <li><h4 class='nav-bar-links'><%= link_to 'Sign in', new_user_session_path, method: :get %></h4></li>
      <li><h4 class='nav-bar-links'><%= link_to 'Sign up', new_user_registration_path, method: :get %></h4></li>
    </ul>
  </div>


<div class='row'>
  <div class="notice devise"><%= notice %></div>
  <div class="alert devise"><%= alert %></div>

<!--   <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <% end %>
 -->
  <%= yield %>

</div>
</body>
</html>
